.git
.gitignore

.vscode
.idea
*.swp
*.swo

.DS_Store
Thumbs.db

*.exe
coverage.out
coverage_*.out

.env
.env.*
!.env.example

.mockery.yaml
.clinerules
.cursorrules
.geminirules
.gemini/
tmp_backup/
